
.widecontent {
  display: flex;
  margin-top: 82px;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.alert-danger {
  background-color: #f44336; /* Red */
}

.alert{
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}
