.widecontent {
  display: flex;
  margin-top: 82px;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.courseHolder {
  padding-bottom: 15px;
}


