<div class="content" role="main">
  <!-- Resources -->
  <h2 id="tools">Tools</h2>
  <p>Here are some links to helpful tools:</p>

  <!--Tool Cards-->
  <div class="card-container">
    <a class="card" target="_self" rel="noopener" routerLink="/json-formatter">
      <span>JSON Formatter</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>
    <a class="card" target="_self" rel="noopener" routerLink="/find-ip">
      <span>Find My Public IP</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>
    <a class="card" target="_self" rel="noopener" routerLink="/gpa-calculator">
      <span>GPA Calculator</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>
  </div> <!--End Tools Cards-->

  <!-- About Cards -->
  <h2 id="about">About Me</h2>
  <p>This is where you can learn about me: Zachary Zampa</p>
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://www.linkedin.com/in/zacharyzampa/">
      <span class="material-icons" style="color: gray;">domain</span>

      <span>LinkedIn</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg> </a>

    <a class="card" target="_blank" rel="noopener" href="https://github.com/ZacharyZampa">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z" /></svg>

      <span>GitHub</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
    </a>
  </div> <!--End About Cards-->
</div>
